body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  margin: 0%;
}

.login-page {
  background-image: url("../images/login-page.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-button:hover {
  cursor: pointer;
}

.incorrect-login-text {
  color: red;
  font-size: 10px;
}

h1 {
  font-size: 50px;
  margin-bottom: 70px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 200px;
  width: 300px;
  border-radius: 50px 0px;
  margin-left: 80px;
}